@import "reset";

.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.75fr 2fr 1fr;

    .header {
        grid-area: 1/1/2/3;
    
        padding-top: 10px;
        background-color: gainsboro;
    }

    .main-content {
        grid-area: 2/1/3/3;
    
        display: grid;
        grid-template-columns: 1.75fr 1fr;
        grid-template-rows: 18em;
    
        &__main-part {
            grid-area: 1/1/2/2;
    
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1.5fr 1fr 1fr;
    
            background-color: beige;

            .item1 {
                grid-area: 1/1/2/3;
            }
            
            .item2 {
                grid-area: 2/1/3/3;
            }
            
            .item3 {
                grid-area: 3/1/4/2;
            }
            
            .item4 {
                grid-area: 3/2/4/3;
            }
        }

        &__sidebar {
            grid-area: 1/2/2/3;

            background-color:rgb(144, 187, 144);
        }
    }

    .footer {
        grid-area: 3/1/4/3;
    
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
    
        background-color: gainsboro;
    
        &__item {
            margin: 20px;
            padding: 0 10px;
            padding-top: 0 auto;
            background-color: aliceblue;
        }
    
        &__item1 {
            grid-area: 1/1/2/2;
        }
    
        &__item2 {
            grid-area: 1/2/2/3;
        }
    
        &__item3 {
            grid-area: 1/3/2/4;
        }
    
        &__item4 {
            grid-area: 1/4/2/5;
        }
    }

    @media screen and (max-width: 1500px){
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media screen and (max-width: 900px) {
        max-width: 600px; 
        padding-left: 20px; 
        padding-right: 20px;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 10em 40em 15em;

        .header {
            grid-area: 1/1/2/3;
        
            height: 100%;
            background-color: gainsboro;
            padding-bottom: 0;
        }

        .main-content {
            margin: 0 auto;
            grid-area: 2/1/3/2;
            display: grid;
            grid-template-columns: 27em 10.5em;
            grid-template-rows: 40em;
            justify-items: stretch;

            &__main-part {
                grid-area: 1/1/2/2;
        
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1.5fr 1fr 1fr 1fr;
        
                background-color: beige;
    
                .item1 {
                    grid-area: 1/1/2/2;
                }
                
                .item2 {
                    grid-area: 2/1/3/2;
                }
                
                .item3 {
                    grid-area: 3/1/4/2;
                }
                
                .item4 {
                    grid-area: 4/1/5/2;
                }
            }
    
            &__sidebar {
                grid-area: 1/2/2/3;
    
                background-color:rgb(144, 187, 144);
            }
        }

        .footer {
            width: 600px;
            margin: 0 auto;
            grid-area: 3/1/4/3;
        
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
        
            background-color: gainsboro;
        
            &__item {
                margin: 20px;
                padding: 0 10px;
                padding-top: 0 auto;
                background-color: aliceblue;
            }
        
            &__item1 {
                grid-area: 1/1/2/2;
            }
        
            &__item2 {
                grid-area: 1/2/2/3;
            }
        
            &__item3 {
                grid-area: 2/1/3/2;
            }
        
            &__item4 {
                grid-area: 2/2/3/3;
            }
        }
    }

    @media screen and (max-width: 640px) {
        max-width: 480px; 
        padding-left: 16px; 
        padding-right: 16px; 
        margin: 0 auto;

        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 5em 20em 5em;

        .header {
            grid-area: 1/1/2/3;
        
            background-color: gainsboro;
            padding-bottom: 0;
        }
    }
}


